.contador-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}
button {
    min-width: 32px;
    min-height: 32px;
    font-size: 24px;
    border-radius: 4px;
}
button.inc {
    background-color: rgb(1, 26, 122);
    color: #fff;
}
button.dec {
    background-color: rgb(252, 153, 47);
    color: #000000;
}
.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}